* {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

html {
  margin: 0;
}

img {
  max-width: 70vmax;
  border-radius: 12px 12px;
  padding-top: 25px;
  width: 100%;
  font: 'Raleway', sans-serif;
  font-size: 45px;
}

body {
  font-family: 'Urbanist', sans-serif;
  background-color: #E7E7E7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
}

header {
  display: flex;
  color: rgba(255, 254, 254, 0.07);
  text-align: center;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Urbanist;
  font-size: 10 vmin;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 12.8px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  border-bottom: green solid 40px;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.teamHeader {
  border-top: none;
  text-align: center;
  font-family: Urbanist;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4px;
}

.navBabies {
  color: black;
  font-size: 20px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid black;
}
.navBar {
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 50px;
}

a {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

li {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding: 5px;
}

.navBar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

input {
  background-color: #E7E7E7;
  font-size: 15px;
}

#userName {
  background-color: #E7E7E7 ;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

#password {
  background-color: #E7E7E7;
  margin-bottom: 5px;
  font-family: 'Raleway', sans-serif;
}

label {
  background-color: rgb(172 215 50 / 0.0);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-left: 20px;
  letter-spacing: .75vmin;
}

li {
  list-style: none;
  background-color: transparent;
}

p {
  background-color: transparent;
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 15px;
  background:
    linear-gradient(#ccd6ba, transparent),
    linear-gradient(to top left, #005eff, transparent),
    linear-gradient(to top right,#0eeb3a, transparent);
  background-blend-mode: screen;
  font-family: 'Raleway', sans-serif;
  word-wrap: normal;
  width: 70%;
  max-width: 1000px;
  margin: auto;
}

.updateProfileForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createUserContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.createUserForm {
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;
  width: 900px;
}

.userContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loglogformform {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  min-width: 50px;
  padding: 20px;
}

h1 {
  padding: 10px;
  letter-spacing: .75vw;
  font-family: 'Raleway', sans-serif;
  border-top: black 2px solid;
}

main {
  background-color: #E7E7E7;
}

p.invalid {
  background-color: #A2C1BE;
  color: Red;
  font-weight: bold;
  margin: auto;
  align-items: center;
  padding: 5px;

}

.submit {
  color: white;
  display: flex;
  width: 298px;
  height: 25px;
  padding: 18px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 9px;
  background: black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
}

.submit:hover {
  background-color: #ACD732;
}

.createBtn {
  display: flex;
  width: 298px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 14px;
  padding: 18px;
  justify-content: center;
  align-items: center;
  gap: 9px;
  background: black;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.createButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 20px;
}

#resetBtn {
  display: flex;
  width: 298px;
  height: 20px;
  padding: 18px;
  justify-content: center;
  align-items: center;
  gap: 9px;
  background: white;
  color: black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  opacity: 20%;
}

#resetBtn:hover {
  background-color: white;
  color: black;
}

#cancelBtn {
  display: flex;
  width: 298px;
  height: 20px;
  padding: 18px;
  justify-content: center;
  align-items: center;
  gap: 9px;
  background: black;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#updateBtn {
  display: flex;
  width: 298px;
  height: 20px;
  padding: 18px;
  justify-content: center;
  align-items: center;
  gap: 9px;
  background: black;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.closeBtn {
  font-weight: bolder;
  background-color: black;
  align-items: center;
  color: white;
  position: fixed;
  padding: 4px 10px;
  border: 1px solid black;
  border-radius: 5px;
  top: 8px;
  right: 15px;
}

.closeBtn:hover {
  background-color: #E7E7E7;
  border: 2px solid black;
  color: red;
  cursor: pointer;
}

.backBtn{
  display: flex;
  width: 298px;
  height: 20px;
  padding: 18px;
  justify-content: center;
  align-items: center;
  gap: 9px;
  background: black;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.deleteBtn {
  display: flex;
  width: 298px;
  height: 20px;
  padding: 18px;
  justify-content: center;
  align-items: center;
  gap: 9px;
  background: black;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.deleteBtn:hover {
  color: red;
}

#addBtn:hover {
  background-color: black;
  color: white;
}

#createTeamBtn {
  margin-top: 50px;
}

#acceptBtn{
  color: green;
}

#rejectBtn{
  color: red;
}

#createProjBtn {
  margin-top: 10px;
  margin-bottom: 20px;
}

.container {
  display: flex;
}

#createProj {
  margin-top: 20px;
}

.teamsListContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}


.teamsList {
  background:
  linear-gradient(#ccd6ba, transparent),
  linear-gradient(to top left, #005eff, transparent),
  linear-gradient(to top right,#0eeb3a, transparent);
  background-blend-mode: screen;
  word-wrap: normal;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto; 
  justify-content: center;
  align-items: center;
  border: 2.5px solid rgb(172 215 50);
  padding: 30px;
  margin: 20px 150px 15px 150px;
  border-radius: 5px 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
  width: 70%;
  max-width: 1000px;
}

.teamButtons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: transparent;
  align-items: center;
}

.teamInfo {
  display: flex; 
  flex-wrap: wrap;
  word-wrap: normal;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  margin: 50px 20px 50px 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(231, 231, 231, 0.25);
}

.teamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1.5px solid white;
  background-color: rgb(231, 231, 231, 0.65);
  border-radius: 5px;
  min-width: 95%;
  padding: 20px;
}

.teamInfo.row {
  background-color: transparent;
}


.team-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  padding: 10px;
  font-style: italic;
  background-color: transparent;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(#ccd6ba, transparent),
    linear-gradient(to top left, #005eff, transparent),
    linear-gradient(to top right,#0eeb3a, transparent);
  background-blend-mode: screen;
  word-wrap: normal;
  border: 2.5px solid rgb(172 215 50);
  border-radius: 5px 5px;
  padding: 30px;
  margin: 20px 150px 15px 150px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
  width: 70%;
  max-width: 1000px;
}

.allTeamInfo{
  border-radius: 5px;
  background-color: transparent;
}

#teamName {
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: center;
}

#createTeamName {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #E7E7E7;
}

#description {
  background-color: #E7E7E7;
  font-size: 15px;
  max-height: 400px;
}

.leader {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 2vmin;
  background-color: transparent;
  padding-bottom: 15px;
  align-content: center;
}

#createTeamHeader {
  border-top: none;
}

.createProjectHeader {
  border-top: none;
}

.selectBar{
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  
}

h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 5px;
  letter-spacing: .55vw;
  font-family: 'Raleway', sans-serif;
}

h3 {
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 15px;
  letter-spacing: .55vw;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

h4 {
  background-color: transparent;
  font-size: 26px;
  padding-top: 20px;
  padding-bottom: 15px;
  letter-spacing: .55vw;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

.indProject {
  color: Blue;
}

.indProject a:hover {
  color: greenyellow;
}

.projectContainer {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectUL {
  background-color: transparent;
}

.projectBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1.5px solid white;
  background-color: rgb(231, 231, 231, 0.65);
  border-radius: 5px;
  min-width: 95%;
  padding: 20px;
}

.project {
  border-top: none;
  background-color: transparent;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(#ccd6ba, transparent),
    linear-gradient(to top left, #005eff, transparent),
    linear-gradient(to top right,#0eeb3a, transparent);
  background-blend-mode: screen;
  word-wrap: normal;
  border: 2.5px solid rgb(172 215 50);
  border-radius: 5px 5px;
  padding: 30px;
  margin: 20px 150px 15px 150px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
  width: 70%;
  max-width: 1000px;
  
}

.projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indivProject {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 20px;
  border: 1.5px solid white;
  background-color: rgb(231, 231, 231, 0.65);
  border-radius: 5px;
}

#projectUL {
  background:
  linear-gradient(#ccd6ba, transparent),
  linear-gradient(to top left, #005eff, transparent),
  linear-gradient(to top right,#0eeb3a, transparent);
background-blend-mode: screen;
word-wrap: normal;
flex-direction: column;
flex-wrap: wrap;
height: auto; 
justify-content: center;
align-items: center;
border: 2.5px solid rgb(172 215 50);
padding: 15px;
margin: 50px;
border-radius: 5px 5px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45)
}

p.footer {
  background-color: transparent;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  word-wrap: normal;
  text-align: center;
  font-size: 10px;
  font-family: 'monserrat', sans-serif;
  font-style: normal;
  font-weight: 200;
}

#task {
  display: flex;
}

#completedTask {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.taskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(231, 231, 231, 0.65);
  border-radius: 5px;
  min-width: 95%;
  padding: 20px;
}

.taskElement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background:
  linear-gradient(#ccd6ba, transparent),
  linear-gradient(to top left, #005eff, transparent),
  linear-gradient(to top right,#0eeb3a, transparent);
  background-blend-mode: screen;
  word-wrap: normal;
  padding: 40px;
  margin: 50px;
  border: 2.5px solid rgb(172 215 50);
  border-radius: 5px 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
  width: 70%;
  max-width: 1000px;
}

.col {
  background-color: transparent;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.taskInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1.5px solid white;
  background-color: rgb(231, 231, 231, 0.65);
  border-radius: 5px;
  min-width: 95%;
  padding: 20px;
}

.taskTitle {
  margin-top: 20px;
  font-size: 35px;
}

.titleSmall {
  background-color: transparent;
}

a:link {
  color: black;
}

a:hover {
  font: rgb(213, 36, 65);
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9;
}

.modal-container {
  background-color: #E7E7E7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 80px;
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75)
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .createUserForm {
    margin: 0;
    width: 380px;
  }
  .loglogformform {
    width: 300px;
  }
  .teamsList {
    width: 300px;
  }
  form {
    max-width: 80%;
  }
  .updateProfileForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navBabies {
    font-size: 16px;
  }
  .navBar ul {
    padding: 5px;
  }
  .createBtn, 
  .deleteBtn, 
  #addBtn, 
  .backBtn, 
  #cancelBtn {
    width: 80%;
  }
  button#completeTaskBtn, 
  .col .backBtn, 
  #updateBtn {
    width: 200px;
    margin-top: 20px;
  }
  .modal-container {
    margin-bottom: 30px;
  }
  #projectUL {
    width: 300px;
  }
  .row {
    width: 95%;
  }
  .taskContainer {
    min-width: 75%;
  }
  .taskInner {
    padding: 7px; 
  }
  
}

